.nav1{
	background-color: #a94442;
	border-radius: 0px;
	margin-bottom: 0px;
	border: none;
}

.nav1 .navbar-nav>li>a {
    color: #fff;
}

.nav1 .navbar-brand {
    color: #fff;
    font-weight: bold;
}

.carousel{
	height: 550px;
}

.footer{
	background-color: #a94442;

}

.footer p{
	color: white;
	padding-top: 25px;
	padding-bottom: 10px;
}